$primary: #66CDAA;

@import "partials/setup.scss";
@import "partials/plantBox.scss";

body {
    background-color: $primary;
    height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2%;
    line-height: 25px;
    img {
        width: 100%;
    }
    a {
        text-decoration: none;
    }
}


// Main Header

.mainHeader {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
    text-transform: uppercase;

    @media (max-width: 660px) {
        align-items: center;
        flex-direction: column;
        padding: 0px 0px 10px 0px;
    }
    h1 {
        position: relative;
        &::after {
        content: url('./../../public/images/002-plant.svg');
        width: 25px;
        position: absolute;
        right: -40px;
        top: -5px;
        }
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            margin-left: 20px;
            color: black;
            &:hover {
                border-bottom: 2px solid $primary;
            }
        }
    }
}


// Welcome PopUp Message

.signin-background {
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(1, 22, 50, 0.45)), url("./../../public/images/popup.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

span {
    text-transform: uppercase;
    border-bottom: 2px solid $primary;
    margin-right: 5px;
    color: $primary;
}

.welcome {
    position: absolute;
    border-radius: 10px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    h2 {
        line-height: 35px;
    }

    @media (max-width: 960px){
        width: 50%;
    }

    @media (max-width: 768px){
        width: 80%;
        top: 60%;
        padding: 10px 20px;
    }
}

// Plant Card PopUp

.overlay {
    position: absolute;
    display: none;
    background-color: (rgba(102,205,170, 0.7));
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    z-index: 1;
}

.popUp {
    position: absolute;
    border-radius: 10px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    display: none;

    @media (max-width: 960px){
        width: 30%;
    }

    @media (max-width: 768px){
        width: 40%;
    }

    @media (max-width: 480px) {
        width: 80%;
    }
}

.overlay.show,
.popUp.show  {
    display: block;
    position: fixed;
}

// modals styling

.modal.show,
.overlay.show {
    display: block;
    position: fixed;
}

.modal {
    display: none;
}

.SignInModal.show {
    display: block;
}

.modal {
    position: absolute;
    border-radius: 10px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);

    @media (max-width: 960px){
        width: 30%;
    }

    @media (max-width: 768px){
        width: 40%;
    }

    @media (max-width: 480px) {
        width: 80%;
    }
}

#inputField {
    margin: 20px 0px;
    width: 100%;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid $primary;
    font-size: 20px;
    font-weight: bold;
}

